body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.arrowtop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0078ff;
  z-index: 999999;
}
.arrowtop{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.navbar {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 1);
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  vertical-align: middle;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

.logo {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 200px;
}
.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.nav-right {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 20px;
  font-size: 16px;
}

.nav-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.nav-right ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-right ul li a {
  text-decoration: none;
  color: white;
}
.nav-right #dropdown {
  background: none;
  border: none;
  color: white;
}

.nav-right ul li a.active,
.nav-right ul li a:hover {
  text-decoration: underline;
}

#bg-img {
  width: 100%;
  height: 100vh;
  background: url(img/hero-bg.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.bg-content {
  position: relative;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
}
.bg-content h3 {
  font-weight: 600;
  color: white;
  font-size: 24px;
  margin: 0;
}
.bg-content h1 {
  font-weight: 700;
  font-size: 70px;
  color: white;
  margin: 0;
}
.bg-content h4 {
  font-weight: 300;
  font-size: 26px;
  color: white;
  margin: 0;
}

#about {
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: #f5f5f5;
  padding-bottom: 100px;
  padding-top: 100px;
}
.container {
  display: flex;
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}
.left {
  width: 40%;
  padding-right: 30px;
}
.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}
.info {
  margin: 20px 0;
}
.info p {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

.info strong {
  display: inline-block;
  width: 70px;
}

.skills h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.skill {
  margin-bottom: 10px;
}

.skill span {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.bar {
  background: #e0e0e0;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.bar-fill {
  height: 10px;
  background-color: #007bff;
}
.aboutinfo {
  text-align: left;
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding-left: 5%;
}

.aboutinfo h2 {
  font-size: 34px;
  font-family: "Source Sans 3", sans-serif;
  color: #333;
  font-weight: 600;
  margin-top: 0;
  position: relative;
  line-height: 22px;
}
.aboutinfo h2::after {
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100px;
  background-color: #0078ff;
}
.aboutinfo p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: rgb(78, 78, 78);
  font-weight: 300;
}
.aboutlist {
  display: inline-block;
  padding-right: 100px;
}
.aboutlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 40px;
}
.aboutlist a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: 16px;
}
.profile-about span {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
  color: #333;
}
.profile-about p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #555;
  margin: 0;
  display: inline-block;
}
#Services {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.sectitle h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
  color: #333;
  position: relative;
  margin: 5px;
}
.sectitle h2::after {
  content: "";
  margin: 0 auto;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  background-color: #0078ff;
  height: 4px;
  width: 40px;
}
.clr {
  clear: both;
}
.service-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}
.service-card {
  background: white;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.service-card h3 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #333;
}
.service-card i {
  width: 100px;
  height: 100px;
  border: 12px solid #007bff;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: black;
}
.service-card i:hover {
  color: white;
  border: 12px solid rgba(0, 123, 255, 0.2);
  background-color: #007bff;
}
.service-card p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555;
}

#datasection {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 80px;
  background-image: url(img/counters-bg.jpg);
  position: relative;
  z-index: -2;
}
.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: #0078ff;
  z-index: -1;
}
.dataitem {
  float: left;
  width: 22%;
  margin-top: 30px;
  padding: 20px 15px;
  z-index: 200;
}
.dataitem h3 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: #fff;
  margin: 15px;
}
.dataitem i {
  font-size: 26px;
  color: white;
  line-height: 26px;
  border: 10px solid white;
  border-radius: 50%;
  padding: 20px;
}
.dataitem p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
#portfolio {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 50px;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}
.portfolio-card {
  background: white;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  overflow: hidden;
}
.workimg img {
  width: 100%;
  transition: transform 1s;
}
.workimg {
  overflow: hidden;
  vertical-align: bottom;
}
.portfolio-card:hover img {
  transform: scale(1.3);
}
.work-content {
  padding-left: 10px;
}
.work-content h2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  color: #1e1e1e;
  margin: 0;
  margin-top: 5px;
}
.work-content i {
  padding-left: 43%;
  font-size: 40px;
  color: #0078ff;
}
.blue {
  color: #0078ff;
  font-size: 13px;
  line-height: 19px;
}
.date {
  color: #4e4e4e;
  font-size: 13px;
  line-height: 19px;
}

#feadback {
  text-align: center;
  width: 100%;
  height: 50vh;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 80px;
  background-image: url(img/overlay-bg.jpg);
  position: relative;
  z-index: -2;
}
.client-content img {
  border-radius: 50%;
}
.client-content h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  color: white;
}
.client-content p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: white;
}

#ourblog {
  text-align: center;
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #f1f1f1;
}
.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}
.blog-card {
  background: white;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  width: 420px;
  overflow: hidden;
  position: relative;
}
.blog-card::after {
  content: "web design";
  position: absolute;
  width: 100px;
  height: 30px;
  color: white;
  background-color: #0078ff;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-card img {
  width: 100%;
}
.blog-content {
  padding-left: 10px;
}
.blog-content h2 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 600;
  margin: 10px 0;
}
.blog-content p {
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}
.info-content {
  height: 20%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  vertical-align: middle;
}
.info-content img {
  width: 7%;
  border-radius: 50%;
  vertical-align: middle;
}
.time {
  padding-left: 40%;
}

#contact {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 80px;
  background-image: url(img/overlay-bg.jpg);
  position: relative;
  z-index: -2;
}
.form-container {
  display: flex;
  background-color: white;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.leftform {
  width: 50%;
  text-align: left;
  position: relative;
  font-size: 22px;
  line-height: 38px;
  font-weight: 500;
  color: #1e1e1e;
}
.leftform h2{
  font-size: 32px;
  font-weight: 500;
  color: #1e1e1e;
  line-height: 38px;
}
.leftform h2::after {
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  top: 70px;
  width: 100px;
  background-color: #0078ff;
}
.contact-form {
  width: 90%;
}
.contact-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.button {
  background-color: #0078ff;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.rightform {
  width: 50%;
  text-align: left;
  position: relative;
  font-size: 22px;
  line-height: 38px;
  font-weight: 500;
  color: #1e1e1e;
}
.rightform h2::after {
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  top: 70px;
  width: 100px;
  background-color: #0078ff;
}
.rightform p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #4e4e4e;
}
.rightform h2{
  font-size: 32px;
  font-weight: 500;
  color: #1e1e1e;
  line-height: 38px;
}
.rightform ul {
  list-style: none;
  padding: 0;
}
.rightform span{
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #4e4e4e;
}
.rightform i{
  color: #0078ff;  
}
.socialicons i{
  font-size: 19px;
  line-height: 31px;
  color: black;
  padding: 5px;

}
#footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: #0062d3;
}
